<div class="container-fluid">
  <div class="container headerBanner border border-danger ">
    <div class="row">
      <div class="col-3">
        <img src="../assets/images/RedDot_Burger.jpg" class="img-fluid" alt="Burger Image">
      </div>
      <div class="col-9">
        <h1 class="display-4"><i class="fas fa-hamburger"></i> Walter's Burger Barn!</h1>
        <p class="lead">Welcome to our takeout restaurant! Order our designs or make your own! How can we help you
          today? We are here to serve you!</p>
      </div>
    </div>
  </div>
</div>
<div class="container menu">
  <div class="row">
    <div class="border border-danger col-6">
      <h3 class="text-center m-1"><i class="fas fa-hamburger"></i> Burgers Ready Now!</h3>
      <p class="text-center m-2">Click on any of the delicious burgers below to have them right now! We have already prepred them for you.</p>
      <div>
        <h6>
          {{#each burgers}}
          {{#unless eaten}}
          {{> burgers/burger-block eaten=true}}
          {{/unless}}
          {{/each}}
        </h6>
      </div>
    </div>


    <div class="border border-danger col-6">
      <h3 class="text-center m-1"><i class="fas fa-hamburger"></i> Our Specialty Burgers!</h3>
      <p class="col-12 text-center">These are some of our famous burgers that we can
        make right away. Click on one and it will be yours shortly!</p>
      <div>
        <h6>
          {{#each burgers}}
          {{#if eaten}}
          {{> burgers/burger-block eaten=false}}
          {{/if}}
          {{/each}}
        </h6>
      </div>
    </div>

    <div class="m-2">
      <h4 class="text-center">Don't see what you want? Design your own!</h4>
      <form class="create-form">
        <div class="row m-1">

          <div "col-4 form-group">
            <label for="ca">Your Burger and Toppings Desires:</label><br>
            <input type="text" id="ca" name="name">
            <p><i class="fas fa-hamburger"></i> Burgers: Beef, Bison, Turkey, Tuna, Veggie</p>
              <p><i class="fas fa-pizza-slice"></i> Add-ons: Tomato, Lettuce, Onions, Mushrooms</p>
              <p><i class="fas fa-cheese"></i> Cheeses: Swiss, American, Cheddar, Gouda</p>
               <p> <i class="fas fa-wine-bottle"></i> Ketchup, Mustard, Siracha, Jalapeno</p>
          </div>

          <div class="col-4 form-group m-2">
            <label for="eaten">We can make it now or wait?</label><br>
            <button type="submit"><i class="fas fa-hamburger m-1"></i> Add Custom Burger</button><br>
            <input type="radio" name="eaten" value="1" checked> Order it now?<br>
            <input type="radio" name="eaten" value="0"> Design it for later!
          </div>

          <div class="col-4">
            <img src="../assets/images/RedDot_Burger.jpg" class="img-fluid" alt="Burger Image">
          </div>

        </div>
      </form>
    </div>
  </div>