<li>
	{{name}}

	<button class="change-eaten" data-id="{{id}}" data-newsleep="{{sleep}}"><i class="fas fa-hamburger"></i>
		{{#if eaten}}I want it NOW!{{else}}Please make it for me!{{/if}}
	</button>

</li>
